.novel-details {
  margin-bottom: 5rem;
}

/*  copied styles*/
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i");



.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 54%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 80%;
  padding: 15px;
  padding-bottom: 0;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
  width: 85%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}
.card-footer {
  width: 12rem;
  position: relative;
  left: 20%;
}
.card-footer .category > span, .span {
  cursor: pointer;
  padding: 12px 34px;
  border: 0px solid #313131;
  background: #212121;
  color: rgb(248, 248, 248);
  box-shadow: 0 19px 38px rgba(151, 21, 21, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span, .span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  color: rgb(0, 0, 0) !important;
}
/********  DETAILS *********/

.t-details {
  width: 40rem;
}
.wsk-cp-text .description-prod h6 {
  margin: 0;
  font-size: medium;
  color: #212121;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 0 5px;
}
.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}
.card-footer:after {
  clear: both;
}

a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}
.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #ff9800;
  background: #ff9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}
.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
  text-decoration: none;
  color: #fff;
}
.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}

/*        RIGHT OF DETAILS**/


.list-of-chapters {
  cursor: pointer;

}

.details-tab {
  background-color: rgb(255, 255, 255);
}
.chapters,
.desc {
  color: black;
}

/* PAGINATION */
.pagination {
  width: 80%;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid red;
  color: #f44336;
  cursor: pointer;
}
.pagination a:hover {
  color: white !important;
  background-color: #f44336;
}
.activePage a {
  color: white !important;
  background-color: #f44336;
}
