.read {
  
  background-image:url('../assets/images/readBack2.jpg');
  padding: 2rem;
}
.list-of-chapters {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 5px;
}
.list-of-chapters > a {
  color: black;
}
.reading {
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  color: brown;
}
.reading-title {
  position: relative;
  top: 3rem;
  bottom: 1.5rem;
  text-align: center;
  font-size: 38px;
  font-family: "Raleway";
  color: #000000;
}
.reading-content {
  position: relative;
  top: 3rem;
  bottom: 1.5rem;
padding-left: 5rem;
padding-right: 5rem;
padding-bottom: 5rem;
  color: rgb(0, 0, 0) !important;
  font-size: 22px !important;
  letter-spacing: 0.5px;
  line-height: 2.8rem;
  font-family: "Lato";
  font-weight: 600;
}

.underline-img > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 12rem;
  opacity: 0.8;
}
.read-screen {
 
  border-radius: 40px;
}
